*{margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    /* height: 94vh; */

    }
   
    .navbar-brand{
        background-color: red;
        width: 5rem;
        text-align: center;
        color: #ffff;
        border-top-left-radius: 1.5rem;
    }
    #nav-head{
        background-color: #212529;
        background-size: cover;
        /* position: fixed; */
    }
.adminContainer {
    /* display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3rem; */
}
.admin-page{
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.697),
    rgba(0, 0, 0, 0.923)),
    url(images/cl-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%
 }


#adminform {
        background: rgba(0, 0, 0, 0.438);
        padding: 50px;
        border-radius:4px;
        width: 100%;
        /* position: fixed; */
        margin-top: -20px;
}
#adminform>li input{
        font-size: 18px;
        padding: 7px;
        width: 99%;
        border: 1px solid #fff;
        display: block;
        background: transparent;
        color: #fff;
    }
#adminform>li input:hover{
    background-color: rgba(128, 128, 128, 0.384);
    border: 1px solid rgba(128, 128, 128, 0.384);
    box-shadow: rgba(0, 0, 0, 0.438)
    }

#adminform>li label{
    font-size: 10px;
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
}
    #adminform li {
         list-style: none;
         padding: -1rem;
       
    }
    #adminform input{
        /* width: 40%;
        background-color: unset; */

    }
/* #jobLists{
    margin-inline-start: 11rem;
    } */
#submit-button{
        background-color: rgba(16, 92, 16, 0.507); 
        border: 1px solid green;
        color: #fff; 
        width: 7rem;
        height: 2rem;
    }
    #submit-button:hover{
        background-color: green;
    }
 .foot-footer{
        color: #aaa;
        position: relative;
        bottom: 0;
    }
    .foot-footer-text{
    margin-top: 5rem;
    position: absolute;
    bottom: 0;
    }
    #adminList{

    }
 
    ul#jobLists {
    width: 200px;
   display: grid;
   grid-gap:10px;
   grid-template-columns:300px 300px;
    color: #fff;  
    list-style: none;
    margin: auto;
    margin-inline-start: 2rem;
}
ul#jobLists li{
    background:rgb(58, 58, 58);
    padding: 5px;
    box-shadow: 0 0 .5px 1px white;
}
.head{
    color: red;
}
.TitleHead{
    font-weight: bold;
    /* color: orange; */
    font-size: 20px;
    text-justify: auto;
    margin-inline-start: 4rem;

}
.locationHead{
    font-weight: bold;
    /* color: orange; */
    font-size: 20px;
    text-justify: auto;
    margin-inline-start: 4rem;   
}
.typeHead{
    font-weight: bold;
    /* color: orange; */
    font-size: 20px;
    text-justify: auto;
    margin-inline-start: 4rem;   
}
.descriptionHead{
    font-weight: bold;
    /* color: orange; */
    font-size: 20px;
    text-justify: auto;
    margin-inline-start: 4rem;     
}
.qualificationHead{
    font-weight: bold;
    /* color: orange; */
    font-size: 20px;
    text-justify: auto;
    margin-inline-start: 4rem;     
}
.datePosted{
    font-weight: bold;
    /* color: orange; */
    font-size: 20px;
    text-justify: auto;
    margin-inline-start: 4rem;   
}

    .dateClosed{
        font-weight: bold;
        /* color: orange; */
        font-size: 20px;
        text-justify: auto;
        margin-inline-start: 4rem;
}
    .jobTitle{
    font-size: 15px;
    margin-inline-start: 4rem;   
    }
    .jobLocation{
        margin-inline-start: 4rem;     
   
    }
    .Type{
        margin-inline-start: 4rem;     

    }
    .Description{
        margin-inline-start: 4rem; 
        /* width: 4rem;     */

    }
    .qualification{
        margin-inline-start: 4rem;     

    }
    .datePosted{
        margin-inline-start: 4rem;     

    }
    .dateClosed{
        margin-inline-start: 4rem;     

    }
    .titleHead{
        font-weight: 200px;
        margin-inline-start: 4rem; 
        font-size: 20px;    

    }
    /* //------------------------------------------------------------------- */
    /* Client Area */
   .client-form-area li{
        list-style: none;
        color: #fff;
    }
     
    .client-form-area> li input{
        font-size: 18px;
        padding: 7px;
        width: 100%;
        border: 1px solid #fff;
        display: block;
        background: transparent;
        color: #fff;
    }
    .client-form-area> li input:hover{
        background-color: #aaa;
    }
    .client-signUp-submit{
        font-size: 18px;
        padding: 7px;
        width: 100%;
        border: 1px solid #fff;
        display: block;
        background: transparent;
        color: #fff;
    }
     .client-form-area>label{
        font-size: 10px;
        display: block;
        font-size: 20px;
        cursor: pointer;
        text-transform: capitalize;
        color: #fff;
    }
    .signUpSuccess,.signUpError{
        color: red;
        letter-spacing: 5px;
        display:none;
    }
    
    /* nav{
        background-color:rgb(4, 46, 4);
    } */
    #client-container{
background-image:
linear-gradient(to bottom, rgba(3, 31, 12, 0.52),
rgba(0, 0, 0, 0.699)),
url(images/VGG-vib.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 94vh;
    }
    #client-sign-up{
position: absolute;
top: 20%;
left: 40%;
padding: 50px;
border-radius:4px;
background: rgba(0, 0, 0, 0.445);
/*transform: translate(-50% -50%);
background: (0,0,2,9);
-webkit-transform: translate(-50% -50%);
-moz-transform: translate(-50% -50%);
-ms-transform: translate(-50% -50%);
-o-transform: translate(-50% -50%);
*/-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
}
.required{
/* color: red;
font-size: 20px; */

}
.client-signUp-submit:hover{
background-color: #fff;
color: #000;
font-size: 20px;
}
/* Client Login */
.clientLoginForm{
background:
linear-gradient(to bottom, rgba(1, 26, 9, 0.904),
#081d11ea),
url(images/women-bg-.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 94vh;
cursor: pointer;
    }



/* Apply style-------------- */
#applyContainer{
background-image:
linear-gradient(to bottom, rgba(3, 31, 12, 0.52),
rgba(0, 0, 0, 0.699)),
url(images/VGG-vib.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
height: 94vh;
}

#applyForm{
position: absolute;
top: 10%;
left: 35%;
padding: 50px;
border-radius:4px;
background: rgba(0, 0, 0, 0.445);
-webkit-border-radius:4px;
-moz-border-radius:4px;
-ms-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px; 
}
.main>input:hover{
box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 189, 235, 0.09);
background-color: rgba(0, 0, 0, 0.377);

}   
   
 