*{margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    background-color: #5f9ea02b;
    }
    .sideSocial{
        display: block;
        width: 3.8%;
        left: 0;
        top: 11rem;
        position: fixed;
        height: auto;
        background-color: #fff;
    }
    .sideSocial a{
        font-size: 30px;

    }
        /* .sideSocial a i{
        width: 100px;
        height: 100px;
        background: red;
        -webkit-transition: width 2s; 
        transition: width 2s;
        } */

    i.fab.fa-facebook-f:hover {
        width: 100px;
        color: white;
        -webkit-transition: width 2s;
        transition: width 2s;
        -moz-transition: width 2s;
        -ms-transition: width 2s;
        -o-transition: width 2s;
        border-top-right-radius: 5px;
}
        i.fab.fa-twitter:hover {
        width: 100px;
        color: white;
        -webkit-transition: width 2s;
        transition: width 2s;
        -moz-transition: width 2s;
        -ms-transition: width 2s;
        -o-transition: width 2s;
        border-top-right-radius: 5px;

}
    i.fab.fa-instagram:hover {
        width: 100px;
        color: white;
        -webkit-transition: width 2s;
        transition: width 2s;
        -moz-transition: width 2s;
        -ms-transition: width 2s;
        -o-transition: width 2s;
        border-top-right-radius: 5px;
}
    i.fab.fa-youtube:hover {
        width: 100px;
        color: white;
        -webkit-transition: width 2s;
        transition: width 2s;
        -moz-transition: width 2s;
        -ms-transition: width 2s;
        -o-transition: width 2s;
        border-top-right-radius: 5px;
    }
    i.fab.fa-whatsapp:hover {
        width: 100px;
        color: white;
        -webkit-transition: width 2s;
        transition: width 2s;
        border-top-right-radius: 5px;
        -moz-transition: width 2s;
        -ms-transition: width 2s;
        -o-transition: width 2s;
}
    i.fab.fa-facebook-f{
        background-color: blue;
        width: 3rem;
        height: 4rem;
        padding: 1rem;
    }
    i.fab.fa-instagram{
    background-color: blueviolet;
    margin-block-start: 1rem;
    width: 3rem;
    height: 4rem;
    padding-left: .6rem;
    padding-top: 1rem;

    }
    i.fab.fa-twitter{
        background-color: cornflowerblue;
        margin-block-start: 1rem;
        width: 3rem;
        height: 4rem;
        padding-top: 1rem;
        padding-left: .5rem;
        }
    i.fab.fa-youtube{
        background-color: red;
        width: 3rem;
        margin-block-start: 1rem;
        height: 4rem;
        padding-top: 1rem;
        padding-left: .5rem;
        }
    i.fab.fa-whatsapp{
        background-color :green;
        width: 3rem;
        margin-block-start: 1rem;
        height: 4rem;
        padding-top: 1rem;
        padding-left: .5rem;
        }
    .wrap{
        max-width: 1250px;
        margin: auto;
        display: block;
        background:#fff;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1)
    }
    #logo{
        margin-top: 3rem;
    }
    ul.navbar-nav.mx-auto{
        margin-bottom: 1rem;
    }
    .blogIcon{
    color: grey;
    margin-inline-start: 1rem;
    }
.banner{
    background: 
    linear-gradient(to bottom, rgba(0, 0, 10, 0.18),
    rgba(20, 20, 20, 0.486)),
    url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   opacity: 0.9;
    height: 100vh;
    position: relative;
    background-color: #000;

}
.top-bar{
    background-color: green;
    height: 4rem;
    }
    .search-top{
        padding: 1rem;
    }
    #s{
        background-color: #1e451e;    
        border: none;
        /* min-width: 300px; */
    }
.section-1{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-nav{
    /* background-color: green; */
    padding: 1rem 1rem;
}
#navbarCollapse ul li a{

    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}
#navbarCollapse ul li a:hover{
    color: red;
}
.banner>h2{
    position: absolute;
    top: 22rem;
    left: 15rem;
    color: white;
}
input#s{ 
}
.about h4{
    margin-top: 1rem;
}
.about img{
    margin-top: 1rem;
}
.about p{
    margin-top: 1rem;
}
.latestPostsContainer{
    margin-left: -15rem;
}
.latestPostsMain{
    margin-top: 1rem;
    margin-left: -11rem;
}

   
/* posts------------------------------------------ */
#posts {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 65rem;
  }
  .postDisplay{
    padding: 13px;
    width: min-content;
    margin: 1rem;
  }
  .postDisplay:hover{
/* background-color: #1e451e; */
color: grey;
box-shadow: 0 0 4.5px 0px;
  }
  .postArticule>h2{
    margin-block-start: 2rem;
    margin-inline-start: 16rem;
  }

  
  .containerDiv {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  .blogCommentAvarter{
      position: relative;
  }
  .latestPostsContainer{
      display: block;
      margin-left: -15rem;
  }
  .BlogCommentSocialIcon{
      display: flex;
  }
  .BlogCommentSocialIcon li{
list-style: none;
  }
  i.fab.fa-twitter.f{
      padding-left: 1rem;
  }
  .BlogCommentSocialIcon li a{
color: #000;
display: flex;
  }
  #commentForm{
    margin: 1rem 7rem;
    padding: 1rem;    
  }
  #commentTextArea{
    width: 81%;
  }
  .commentReponse h4{
      margin-left: 8rem;
  }
  #commentName{
      margin-top: 1rem;
      width: 30%
  }
  #commentEmail{
      margin-top: 1rem;
      width: 30%;
      display: block;
  }
  #commentWebsite{
      margin-top: 1rem;
      width: 30%
  }
  #customCheck2{
      display: block;
  }
  label.custom-control-label{
      display: block;
      margin-block-start: 1rem;
  }
  .submitComment{
    margin-top: 1rem;
    background-color: #1e451e;
    border: none;
    color: white;
    width: 15%;
    height: 3rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .mainBlogFooter{
      background-color: #000;
      color: #fff;
      margin-top: 1rem;
  }
  .mainBlogFooter{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .latestPosts{
      display: flex;
  }
  .FooterpostTestArea{
      margin-left: -14rem;
      color: grey;
  }
  .FooterpostTestArea>h4{
      color: #fff;
  }
  a{
      color:#fff;
      list-style: none;
  }
  .about{
      margin-left: 2rem;
  }
  .about>h6{
    color: grey;
  }
  .career-social-icon li{
      list-style: none;
  }
  .career-social ul li{
      list-style: none;
  }
  .postDisplay a{
      color: grey
  }
  .postDisplay a:hover{
      color: blue
  }
  .latestPost{
      margin-top: 1rem;
  }
  .latestPost>h4{
     margin-top: 1rem; 
  }
  .career-social>h4{
      margin-top: 1rem;
  }
  /* .career-social-icon{
      display: flex;
      margin-top: 5rem;
  } */

  /* comments----------------------------- */
  #comments{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        width: 65rem;
      }
      .titleAdded{
        font-size: 24px;
        color: coral;
      }
      .Buttons{
        text-align: center;
        padding: 2rem;
        word-spacing: 3rem
      }
      button.btn:hover{
          background-color: #ccc;
      }
      button#first.btn.btnStyle{
        box-shadow: 0 1px 0 1px #ccc;
        }
      button#next.btn.btnStyle{
        box-shadow: 0 1px 0 1px #ccc;
        opacity: .65
        }
      button#next.btn.btnStyle i{
        opacity: .65
        }
      button#previous.btn.btnStyle i{
        opacity: .65
        }
      button#previous.btn.btnStyle{
        box-shadow: 0 1px 0 1px #ccc;
        }
      button#last.btn.btnStyle{
        box-shadow: 0 1px 0 1px #ccc;
        opacity: .65
        }
 
/* media queries --------------------------------------------------- */
@media (min-width: 577px) and (max-width: 765px){
    input#s{
        display: none; 
    }   
}
@media (min-width: 320px) and (max-width: 480px){
    input#s{
        display: none;
    } 
    .banner>h2{
        left: 0;
        top: 6rem;
    }   
}
 /* @media (min-width: 1020px){
    .search-top{
        padding: .6rem; */
    }   

@media (min-width: 481px) and (max-width: 576px){
    .navbar-expand-sm .navbar-toggler {
        display: none;
        background-color:green;
    }
} 