
*{margin:0;
padding: 0;
box-sizing: border-box;
}

body{
padding:0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6em;
}
.navbar-expand-lg{
    background-color:rgba(0, 0, 0, 0.212);
    
}
.navbar a{
    color: grey;
    margin-left: 1rem;
}

/* .navbar-brand{
    background-color: red;
    width: 5rem;
    text-align: center;
    color: #ffff;
    border-top-left-radius: 1.5rem;
} */
.nav-background{
    background:
    linear-gradient(to bottom, rgba(0, 0, 10, 0.288),
    rgba(20, 20, 20, 0.486)),
    url(images/new-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   opacity: 0.9;
    height: 100vh;
    position: relative;
    background-color: #000;

}
#current{

   
}
.career-head-text{
    color: white; 
}
.nav-background{
    background-color: #999;
}
.quizIcon{
    color: #fff;
    padding: 1rem;
    text-decoration: none;
} 
 .h3, h3 {
    font-size: 2.75rem;
    }
.take-text{
    margin-left: 2rem;
    color: red;
}

.form-inline{
 text-align: center;
    position: absolute;
    left: 20rem;
    top: 28rem;
    background: #1b191ec9;
    height: 5rem;
}
.header-text{
    text-align: center;
    position: absolute;
    left: 25rem;
    top: 24rem;    
}
.btn-outline-success{
    width: 15%;
    background-color: green;
}
.container-1{
  padding: 3rem;  
}
.take{
    margin-top: 1rem;
}
.upload-file-section{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #dcdada8a;
    height: 22vh; 
}
/* .fa-star{
      border-radius:360px;
      height: 50px;
      width: 50px;
      -webkit-border-radius:360px;
      -moz-border-radius:360px;
      -ms-border-radius:360px;
      -o-border-radius:360px;
}
.fa-star:before {
    content: "\f699";
    text-align: center;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem
}
.fa-bell{
    border-radius:360px;
    height: 120px;
      width: 120px;
    -webkit-border-radius:360px;
    -moz-border-radius:360px;
    -ms-border-radius:360px;
    -o-border-radius:360px;
}
.fa-bell:before {
  content: "\f0f3";
  text-align: center;
  position: absolute;
  top: 1.5rem;
  left: 2.5rem
}
.fa-money-check{
      border-radius:360px;
      height: 120px;
      width: 120px;
      -webkit-border-radius:360px;
      -moz-border-radius:360px;
      -ms-border-radius:360px;
      -o-border-radius:360px;
}
.fa-money-check:before {
    content: "\f2bb";
    text-align: center;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem
}
.fa-money-check-alt{
    height: 120px;
      width: 120px;
      border-radius:360px;
      -webkit-border-radius:360px;
      -moz-border-radius:360px;
      -ms-border-radius:360px;
      -o-border-radius:360px;
}
.fa-money-check-alt:before {
    content: "\f53d";
    text-align: center;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem
} */

.client-sec img{
    width: 15rem; 
}
.client-sec{
    margin-left: 2rem;
}
.container-client{
    background-color: #9999990d;
    padding: 2rem;
}
.jobs li a{
list-style: none;
color: #000;
}
.jobs li {
    list-style: none;
}
.jobs{
    display: grid;
    grid-gap: 0;
	grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color: #000;
}
.job-container{
    padding: 10px;
    margin-left: 4rem;
}
.footer{
background-color:#333;
padding: 2rem;
margin-top: 1rem;

}
.About-list{
    list-style: none;
    color: white;
}
.About-list li{
    margin-top: 1rem;
}
.About-list li a{
    list-style: none;
    color: white;
}
.footer h5{
color: #fff;
}
/* 
.googlePlay{
	display: flex;
	text-decoration: none;
	height: 7vh;
	width: 9rem;
	text-align: center;
	background-color: orangered;
	border: 1px;
	color: white;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}
.AppleStore{
	display: flex;
	text-decoration: none;
	height: 7vh;
	width: 9rem;
	text-align: center;
	background-color: blue;
	border: 1px;
	color: white;
	margin-left: 1.1rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem; 
}*/

.footer1{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding: 10px;
margin-left: 4rem; 
margin-top: 1rem;  
}
.sign-up-footer{ border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; list-style: none;
}
#buttom-career-apply-botton{
    background-color: green;
    color: #fff;
    border: 1px solid green;
    height: 7vh;
    width: 35%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#buttom-career-apply-botton:hover{
background-color: green;
font-size: 20px;
}
.career-social{
    margin-left: 9rem;
}
.career-social-icon{
   
}
.sign-up-footer input{
width: 81%;
}
.sign-up-footer label{
color: #fff;
}
 .career-foot-footer-text{
  margin-top: 2rem;
    color: #aaa; 

} 
#jobLists{
     list-style: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
    /* border: 3px solid #000; */
}

.singleList{
    border: 1px solid white;
    background-color: rgba(199, 197, 197, 0.26); 
    margin-top: 1rem;
    box-shadow: 0 0 1px 2px rgba(173, 170, 170, 0.747);
}
.singleList:hover{
    border: 1px solid #fff;
    margin-top: 1rem;
    box-shadow: 0 0 1px 2px rgb(49, 48, 48);
}
.upload-file-section{
    margin-top: 1rem;
}
input#searchArea{
    margin-left: 40px;    
}
/* Media querries */
@media only screen and (max-width: 572px) {
    #careerSearchForm{
        display: block;
        top: 20rem;
        left: 2rem;
        width: 50%;
    }
    input#searchArea{
        margin-left: 1px;    
    }
    .career-head-text{
        display: none;
    }
    #seachInput{
        width: 10rem;
    }
    .upload-file-section{
        height: 42vh;
        margin-top: 1rem;
        margin: auto;
    }
    .upload-file>h4{
        margin-top: -1rem;
    }
    #file-form{
        margin-left: 1rem;
    }
    #jobLists{
        display: block;
    }
    .footer1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .career-social{
        margin-left: 0;
        margin-top: 1rem;
    } 
    .buttom-career-apply{
        margin-top: 1rem;  
    } 
    
}
@media only screen and (max-width: 767px) {
 
        #careerSearchForm{
        display: block;
        grid-template-columns: auto auto;
        background-color: transparent;
        top: 15rem;
        
    }
    .form-group{
        width: auto;
        padding: 1rem;
    }
    #seachInput{
        width: 10rem;
        margin-left: -5rem;
    }   
} 
    @media only screen and (max-width: 768px){
    #careerSearchForm{
        left: auto;
        width: auto;
    }
    .career-head-text{
        display: none;
    }
    /* #seachInput{
        width: 10rem;
    } */
    .upload-file-section{
        height: 42vh;
        margin-top: 1rem;
        margin: auto;
    }
    .upload-file>h4{
        margin-top: -1rem;
    }
    #file-form{
        margin-left: 1rem;
    }
    #jobLists{
        display: block;
    }
    .footer1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .career-social{
        margin-left: 0;
        margin-top: 1rem;
    } 
    .buttom-career-apply{
        margin-top: 1rem;  
    } 
    
}
@media only screen and (max-width: 999px) {
     #careerSearchForm{
        left: 2rem;
        width: auto;
            }  
    input#searchArea{
        margin-left: 1px;    
    }
    .career-head-text{
       
    }
 
}
@media only screen and (max-width: 1437px) {
     #careerSearchForm{
        left: 5rem;
        width: auto;
            }  
    input#searchArea{
        margin-left: 1px;    
    }
    .head-text{
            left: 15rem;
            top: 0    
        }
    
 
}
